body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

.container {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
	padding: 20px;
	margin: 50px auto;
	max-width: 500px;
}

h1 {
	font-size: 36px;
	margin-bottom: 10px;
	text-align: center;
}

p {
	font-size: 18px;
	margin-bottom: 20px;
	text-align: center;
}

form {
	display: flex;
	flex-direction: column;
}

label {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

input[type=text], input[type=email], input[type=password], input[type=tel], select {
	padding: 10px;
	margin-bottom: 15px;
	border-radius: 5px;
	border: none;
	background-color: #f2f2f2;
}

button[type=submit] {
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type=submit]:hover {
	background-color: #3e8e41;
}
.Submit{
	background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
#btnVaryfy
{
    background-color: #4CAF50;
	color: white;
	padding: 10px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    user-select: none;
}

#body {
    width: 100%;
    padding: 5px 50px;
}

#body .status {
    width: 100%;
    padding: 5px 5px;
    background: #ccc;
    position: relative;
    font-size: 15px;
}

#body .status.top {
    padding-bottom: 0;
}

#body .status.bottom {
    padding-top: 2px;
}

#body .status i {
    width: 22px;
}

#body .status .info {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

#body .status .lbl {
    font-family: HP Simplified;
}

#content {
    position: relative;
    width: 100%;
    margin: 5px auto 30px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
  
}

#content .window {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

#content label .icon {
    margin-right: 2px;
}

.infoPanel {
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed #bbb;
    border-radius: 4px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 80px;
    margin: 10px 0 40px;
    border: 2px solid #78909C;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}

.list i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 30px;
    color: #555;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 16px;
    background-color: #FC8344;
    color: #fff;
    border-radius: 0 0 0 10px;
    cursor: default;
}

.refer .tag {
    background-color: #82a916;
}

.list p {
    font-size: 14px;
    color: #78909C;
}

.list .txt {
    font-size: 14px;
    color: #000;
    margin: 7px 0;
}

.list .link {
    font-size: 15px;
}

.infoPanel .row {
    display: flex;
    margin: 10px 0;
}

.infoPanel .row div:nth-child(1) {
    width: 140px;
    color: #444;
}

.infoPanel .row div:nth-child(2) {
    width: 20px;
    color: #444;
    font-weight: 600;
}

.infoPanel .row span {
    color: #000;
}

.infoPanel .row .link {
    text-decoration: none;
}

.infoPanel .row .link:hover {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 61, 65, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: all 2s ease;
    z-index: 10000;
}

.overlay .content {
    width: 35%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.overlay .content .header {
    position: relative;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #6B7277;
    color: #fff;
}

#linkClose {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 2px 6px;
    text-decoration: none;
    color: #fff;
}

.overlay .content .lblContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.overlay .content .lblContainer .lbl {
    margin: 5px 0;
}

.input-box {
    position: relative;
    width: 70%;
    margin: 20px auto;
}

.input-box .input {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.input-box .label-name .content-name {
    position: absolute;
    bottom: 13px;
    left: 16px;
    color: #595f6e;
    transition: all .2s ease;
}

.input-box .input:focus+.label-name .content-name {
    transform: translateX(-5px) translateY(-23px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
}

.input-box .input:valid+.label-name .content-name {
    transform: translateX(-3px) translateY(-25px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
    transition: all 0s ease;
}

.input-box .input:focus:valid+.label-name .content-name {
    transform: translateX(-5px) translateY(-23px);
}

.input-box .input:focus+.label-name {
    border: 2px solid #1A73E8;
    border-radius: 4px;
}

.overlay .content .linkContainer {
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.overlay .content .btnContainer {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background-color: #6B7277;
    display: flex;
    justify-content: center;
}

.overlay .content .btnContainer .btn {
    padding: 10px 30px;
    background-color: #FDC200;
    font-size: 16px;
    color: #FFF;
    border: 1px solid #F5F2E8;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

/*-------------Tablet-------------*/

@media (min-width: 600px) and (max-width: 900px) {
    .overlay .content {
        width: 60%;
    }
}

/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #content .window {
        width: 96%;
        margin: 15px auto 0;
    }
    #detailsPanel,
    .infoPanel {
        padding: 5px 10px;
        margin-top: 10px;
    }
    #detailsPanel .row {
        display: block;
    }
    .infoPanel .row div:nth-child(1) {
        width: 100px;
    }
    .overlay .content {
        width: 80%;
    }
}