/* Googlefont Poppins CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.sidebar{
  position: fixed;
  height: 100%;
  width: 240px;
  background: #0A2558;
  transition: all 0.5s ease;
}
.sidebar.active{
  width: 60px;
}
.sidebar .logo-details{
  height: 80px;
  display: flex;
  align-items: center;
}
.sidebar .logo-details i{
  font-size: 28px;
  font-weight: 500;
  color: #fff;
  min-width: 60px;
  text-align: center
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 24px;
  font-weight: 500;
}
.sidebar .nav-links{
  margin-top: 10px;
}
.sidebar .nav-links li{
  position: relative;
  list-style: none;
  height: 50px;
}
.sidebar .nav-links li a{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar .nav-links li a.active{
  background: #081D45;
}
.sidebar .nav-links li a:hover{
  background: #081D45;
}
.sidebar .nav-links li i{
  min-width: 60px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.sidebar .nav-links li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
}
.sidebar .nav-links .log_out{
  position: absolute;
  bottom: 0;
  width: 100%;
}
.home-section{
  position: relative;
  background: #f5f5f5;
  min-height: 100vh;
  width: calc(100% - 240px);
  left: 240px;
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section{
  width: calc(100% - 60px);
  left: 60px;
}
.home-section nav{
  display: flex;
  justify-content: space-between;
  height: 80px;
  background: #fff;
  display: flex;
  align-items: center;
  position: fixed;
  width: calc(100% - 240px);
  left: 240px;
  z-index: 100;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease;
}
.sidebar.active ~ .home-section nav{
  left: 60px;
  width: calc(100% - 60px);
}
.home-section nav .sidebar-button{
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
}
nav .sidebar-button i{
  font-size: 35px;
  margin-right: 10px;
}
.home-section nav .search-box{
  position: relative;
  height: 50px;
  max-width: 550px;
  width: 100%;
  margin: 0 20px;
}
nav .search-box input{
  height: 100%;
  width: 100%;
  outline: none;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
}
nav .search-box .bx-search{
  position: absolute;
  height: 40px;
  width: 40px;
  background: #2697FF;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 4px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 22px;
  transition: all 0.4 ease;
}
.home-section nav .profile-details{
  display: flex;
  align-items: center;
  background: #F5F6FA;
  border: 2px solid #EFEEF1;
  border-radius: 6px;
  height: 50px;
  min-width: 190px;
  padding: 0 15px 0 2px;
}
nav .profile-details img{
  height: 40px;
  width: 40px;
  border-radius: 6px;
  object-fit: cover;
}
nav .profile-details .admin_name{
  font-size: 15px;
  font-weight: 500;
  color: #333;
  margin: 0 10px;
  white-space: nowrap;
}
nav .profile-details i{
  font-size: 25px;
  color: #333;
}
.home-section .home-content{
  position: relative;
  padding-top: 104px;
}
.home-content .overview-boxes{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 20px;
  margin-bottom: 26px;
}
.overview-boxes .box{
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc(100% / 4 - 15px);
  background: #fff;
  padding: 15px 14px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.1);
}
.overview-boxes .box-topic{
  font-size: 20px;
  font-weight: 500;
}
.home-content .box .number{
  display: inline-block;
  font-size: 35px;
  margin-top: -6px;
  font-weight: 500;
}
.home-content .box .indicator{
  display: flex;
  align-items: center;
}
.home-content .box .indicator i{
  height: 20px;
  width: 20px;
  background: #8FDACB;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  margin-right: 5px;
}
.box .indicator i.down{
  background: #e87d88;
}
.home-content .box .indicator .text{
  font-size: 12px;
}
.home-content .box .cart{
  display: inline-block;
  font-size: 32px;
  height: 50px;
  width: 50px;
  background: #cce5ff;
  line-height: 50px;
  text-align: center;
  color: #66b0ff;
  border-radius: 12px;
  margin: -15px 0 0 6px;
}
.home-content .box .cart.two{
   color: #2BD47D;
   background: #C0F2D8;
 }
.home-content .box .cart.three{
   color: #ffc233;
   background: #ffe8b3;
 }
.home-content .box .cart.four{
   color: #e05260;
   background: #f7d4d7;
 }
.home-content .total-order{
  font-size: 20px;
  font-weight: 500;
}
.home-content .sales-boxes{
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
}

/* left box */
.home-content .sales-boxes .recent-sales{
  width: 65%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.home-content .sales-boxes .sales-details{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sales-boxes .box .title{
  font-size: 24px;
  font-weight: 500;
  /* margin-bottom: 10px; */
}
.sales-boxes .sales-details li.topic{
  font-size: 20px;
  font-weight: 500;
}
.sales-boxes .sales-details li{
  list-style: none;
  margin: 8px 0;
}
.sales-boxes .sales-details li a{
  font-size: 18px;
  color: #333;
  font-size: 400;
  text-decoration: none;
}
.sales-boxes .box .button{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.sales-boxes .box .button a{
  color: #fff;
  background: #0A2558;
  padding: 4px 12px;
  font-size: 15px;
  font-weight: 400;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
}
.sales-boxes .box .button a:hover{
  background:  #0d3073;
}

/* Right box */
.home-content .sales-boxes .top-sales{
  width: 35%;
  background: #fff;
  padding: 20px 30px;
  margin: 0 20px 0 0;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.sales-boxes .top-sales li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
}
.sales-boxes .top-sales li a img{
  height: 40px;
  width: 40px;
  object-fit: cover;
  border-radius: 12px;
  margin-right: 10px;
  background: #333;
}
.sales-boxes .top-sales li a{
  display: flex;
  align-items: center;
  text-decoration: none;
}
.sales-boxes .top-sales li .product,
.price{
  font-size: 17px;
  font-weight: 400;
  color: #333;
}
/* Responsive Media Query */
@media (max-width: 1240px) {
  .sidebar{
    width: 60px;
  }
  .sidebar.active{
    width: 220px;
  }
  .home-section{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section{
    /* width: calc(100% - 220px); */
    overflow: hidden;
    left: 220px;
  }
  .home-section nav{
    width: calc(100% - 60px);
    left: 60px;
  }
  .sidebar.active ~ .home-section nav{
    width: calc(100% - 220px);
    left: 220px;
  }
}
@media (max-width: 1150px) {
  .home-content .sales-boxes{
    flex-direction: column;
  }
  .home-content .sales-boxes .box{
    width: 100%;
    overflow-x: scroll;
    margin-bottom: 30px;
  }
  .home-content .sales-boxes .top-sales{
    margin: 0;
  }
}
@media (max-width: 1000px) {
  .overview-boxes .box{
    width: calc(100% / 2 - 15px);
    margin-bottom: 15px;
  }
}
@media (max-width: 700px) {
  nav .sidebar-button .dashboard,
  nav .profile-details .admin_name,
  nav .profile-details i{
    display: none;
  }
  .home-section nav .profile-details{
    height: 50px;
    min-width: 40px;
  }
  .home-content .sales-boxes .sales-details{
    width: 560px;
  }
}
@media (max-width: 550px) {
  .overview-boxes .box{
    width: 100%;
    margin-bottom: 15px;
  }
  .sidebar.active ~ .home-section nav .profile-details{
    display: none;
  }
}
  @media (max-width: 400px) {
  .sidebar{
    width: 0;
  }
  .sidebar.active{
    width: 60px;
  }
  .home-section{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section{
    left: 60px;
    width: calc(100% - 60px);
  }
  .home-section nav{
    width: 100%;
    left: 0;
  }
  .sidebar.active ~ .home-section nav{
    left: 60px;
    width: calc(100% - 60px);
  }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Sans-Serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: #fff;
    user-select: none;
}

#body {
    width: 100%;
    padding: 5px 50px;
}

#body .status {
    width: 103%;
    padding: 5px 5px;
    background: #ccc;
    position: relative;
    font-size: 15px;
}

#body .status.top {
    padding-bottom: 0;
}

#body .status.bottom {
    padding-top: 2px;
}

#body .status i {
    width: 22px;
}

#body .status .info {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
}

#body .status .lbl {
    font-family: HP Simplified;
}

#content {
    position: relative;
    width: 103%;
    margin: 5px auto 30px;
    padding: 4px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 15px 2px rgba(0, 0, 0, .3);
}

#content .window {
    width: 101%;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 10px;
}

#content label .icon {
    margin-right: 2px;
}

.infoPanel {
    width: 100%;
    min-height: 100px;
    padding: 10px 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed #bbb;
    border-radius: 4px;
}

.list {
    display: flex;
    flex-direction: column;
    width: 300px;
    min-height: 80px;
    margin: 10px 0 40px;
    border: 2px solid #78909C;
    border-radius: 10px;
    padding: 10px;
    padding-left: 50px;
    position: relative;
    overflow: hidden;
}

.list i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    font-size: 30px;
    color: #555;
}

.tag {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px 8px;
    font-size: 16px;
    background-color: #FC8344;
    color: #fff;
    border-radius: 0 0 0 10px;
    cursor: default;
}

.refer .tag {
    background-color: #82a916;
}

.list p {
    font-size: 14px;
    color: #78909C;
}

.list .txt {
    font-size: 14px;
    color: #000;
    margin: 7px 0;
}

.list .link {
    font-size: 15px;
}

.infoPanel .row {
    display: flex;
    margin: 10px 0;
}

.infoPanel .row div:nth-child(1) {
    width: 140px;
    color: #444;
}

.infoPanel .row div:nth-child(2) {
    width: 20px;
    color: #444;
    font-weight: 600;
}

.infoPanel .row span {
    color: #000;
}

.infoPanel .row .link {
    text-decoration: none;
}

.infoPanel .row .link:hover {
    text-decoration: underline;
}

.overlay {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(58, 61, 65, .7);
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: all 2s ease;
    z-index: 10000;
}

.overlay .content {
    width: 35%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.overlay .content .header {
    position: relative;
    width: 100%;
    padding: 5px;
    text-align: center;
    background-color: #6B7277;
    color: #fff;
}

#linkClose {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    padding: 2px 6px;
    text-decoration: none;
    color: #fff;
}

.overlay .content .lblContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 5px;
}

.overlay .content .lblContainer .lbl {
    margin: 5px 0;
}

.input-box {
    position: relative;
    width: 70%;
    margin: 20px auto;
}

.input-box .input {
    width: 100%;
    height: 45px;
    padding: 10px 15px;
    font-size: 16px;
    color: #000;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}

.input-box label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.input-box .label-name .content-name {
    position: absolute;
    bottom: 13px;
    left: 16px;
    color: #595f6e;
    transition: all .2s ease;
}

.input-box .input:focus+.label-name .content-name {
    transform: translateX(-5px) translateY(-23px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
}

.input-box .input:valid+.label-name .content-name {
    transform: translateX(-3px) translateY(-25px);
    font-size: 14px;
    color: #1A73E8;
    background-color: #fff;
    padding: 0px 3px 0px 3px;
    transition: all 0s ease;
}

.input-box .input:focus:valid+.label-name .content-name {
    transform: translateX(-5px) translateY(-23px);
}

.input-box .input:focus+.label-name {
    border: 2px solid #1A73E8;
    border-radius: 4px;
}

.overlay .content .linkContainer {
    width: 100%;
    margin: 10px 0 20px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.overlay .content .btnContainer {
    width: 100%;
    margin-top: 15px;
    padding: 10px 0;
    background-color: #6B7277;
    display: flex;
    justify-content: center;
}

.overlay .content .btnContainer .btn {
    padding: 10px 30px;
    background-color: #FDC200;
    font-size: 16px;
    color: #FFF;
    border: 1px solid #F5F2E8;
    border-radius: 4px;
    overflow: hidden;
    outline: none;
    cursor: pointer;
}

/*-------------Tablet-------------*/

@media (min-width: 600px) and (max-width: 900px) {
    .overlay .content {
        width: 60%;
    }
}

/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #content .window {
        width: 96%;
        margin: 15px auto 0;
    }
    #detailsPanel,
    .infoPanel {
        padding: 5px 10px;
        margin-top: 10px;
    }
    #detailsPanel .row {
        display: block;
    }
    .infoPanel .row div:nth-child(1) {
        width: 100px;
    }
    .overlay .content {
        width: 80%;
    }
}