       body.blur {
    overflow: hidden;
}

#header {
    min-height: 80px;
    background: linear-gradient(#4CAF50, #4CAF50,#00A3F8);
    position: relative;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 0 50px;
    display: flex;
    align-items: center;
    z-index: 5;
    user-select: none;
}

#logo {
    width: 100%;
    color: #fff;
    font-size: 40px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 6px;
}

#check {
    display: none;
}

#btn {
    top: 50%;
    transform: translateY(-50%);
    font-size: 35px;
    color: #fff;
    padding: 6px 12px;
    transition: all .5s;
}

#sidebar {
    top: 0;
    left: 0;
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    padding: 10px 15px 10px 15px;
    background: #fff;
    box-shadow: inset -3px 0 8px 3px rgba(0, 0, 0, .4);
    transition: all .5s ease;
    user-select: none;
    overflow: auto;
    z-index: 10;
}

#sidebar .logo {
    position: relative;
    font-size: 22px;
    font-weight: 500;
    color: #760000;
    margin-left: 35px;
    margin-bottom: 10px;
    line-height: 40px;
}

#sidebar ul {
    width: 100%;
}

#sidebar ul li {
    list-style: none;
    display: block;
    width: 100%;
    line-height: 40px;
    color: #333;
    font-size: 18px;
    border-bottom: 1px solid #a0a0a0;
    list-style-type: none;
    margin: auto 0;
}

#sidebar ul li a {
    position: relative;
    display: block;
    width: 100%;
    padding: 11px 5px 11px 35px;
    color: #333;
    font-weight: bold;
    text-decoration: none;
    transition: .3s;
}

#sidebar ul li a i {
    position: absolute;
    top: 49%;
    transform: translateY(-50%);
    left: 4px;
    color: #333;
    transition: .3s;
}

#sidebar ul li a i:nth-child(2) {
    left: auto;
    right: 7px;
    color: #ff7f7f;
}

#sidebar ul li:hover a {
    padding-left: 38px;
    background-color: #ccc;
}

#sidebar ul li:hover a i {
    left: 7px;
}

#sidebar ul li:hover a i:nth-child(2) {
    left: auto;
    right: 7px;
}

#sidebar::-webkit-scrollbar {
    display: none;
}

#btn,
#cancel {
    position: absolute;
    cursor: pointer;
    background: #750000;
    border-radius: 3px;
}

#cancel {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-size: 30px;
    color: #fff;
    padding: 4px 9px;
    transition: all .5s ease;
    z-index: 999;
}

#check:checked~#sidebar {
    left: 0px;
}

#check:checked~#blur {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    transition: all .5s ease;
    opacity: .5;
    user-select: none;
    z-index: 9;
}


/*-------------Mobile-------------*/

@media (max-width: 600px) {
    #header {
        min-height: 50px;
        padding: 0 5px;
    }
    #logo {
        text-align: right;
        display: flex;
        flex-direction: column;
    }
    #logo span {
        font-size: 30px;
        padding-right: 10px;
        letter-spacing: .5px;
    }
    #sidebar .logo {
        font-size: 20px;
    }
    #sidebar ul li {
        font-size: 16px;
        line-height: 30px;
    }
}