<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS1" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS2" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS3" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS4" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS5" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS6" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS7" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS8" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString2" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS9" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS10" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS11" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS12" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS13" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS14" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS15" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS16" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS17" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS18" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString3" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString4" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS20" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS21" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DBCS22" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString1" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString5" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString6" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString7" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="Online_Blood_Donation_SystemConnectionString8" connectionString="Data Source=.\MYSQL2016;Initial Catalog=Online_Blood_Donation_System;User ID=sa;Password=admin1234"
      providerName="System.Data.SqlClient" />
    <add name="DatabaseConnectionString1" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
    <system.web>
        <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
